[submodule "Modules/MyMoneroCore/sub_modules/mymonero_core_js"]
	path = Modules/MyMoneroCore/sub_modules/mymonero_core_js
	url = https://github.com/mymonero/mymonero-core-js
[submodule "Modules/MyMoneroCore/Swift/monero-core-custom"]
	path = Modules/MyMoneroCore/Swift/monero-core-custom
	url = git@github.com:mymonero/monero-core-custom.git
